<%= link_to 'Back to Projects', projects_path %>

<h1><%= @project.title %></h1>
<h2>Project Goal Amount: $<%= @project.goal_amount%></h2>
<p><%= @project.description %></p>
<p><%= @project.start_time %></p>
<p><%= @project.end_time %></p>
<p><%= @project.category %></p>
<p><%= @project.tags %></p>
<p><%= @project.created_at %></p>

<p>Make a pledge to <%= @project.title %></p>

<p>Pledge "value" for "reward"</p>