<%= link_to 'Back to Projects', projects_path %>

<h1><%= @project.title %></h1>
<h1><%= @project.description %></h1>
<h1><%= @project.start_time %></h1>
<h1><%= @project.end_time %></h1>
<h1><%= @project.category %></h1>
<h1><%= @project.tags %></h1>
<h1><%= @project.created_at %></h1>
